@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
}
a{
    display: block;
    text-decoration: none;
    background-color: brown;
    text-align: center;
    color: white;
    font-weight: bolder;
    padding: 20px;
    margin: -5px;
    width: 215px;
   
    
}
a:hover{
    background-color: red;
}