@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 100vw;
    height:100vh;
}
main{
    position: relative;
    height: 100vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}
section#cel{
    position: absolute;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);    
    width: 311px;
    height: 610px;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-size: cover;
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}
section#rede-social{
    text-align: right;
    padding-right: 20px;
}
section#rede-social img{
 
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}
section#rede-social img:hover{
    border: 2px solid rgba(150, 149, 149, 0.522);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.802);
    transition: transform.3s, border 1s;

}
